<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="text-center my-5">{{title}}</h1>
            <div>
                <form name="frm">
                <input class="form-control mb-2" name="title" placeholder="제목을입력하세요" value="{{bbs.bbs_title}}">
                <textarea class="form-control" rows="20" name="contents" placeholder="내용을 입력하세요">{{bbs.bbs_contents}}</textarea>
                <div class="text-end">
                    <button class="btn btn-primary m-3">수정</button>
                    <button type="reset" class="btn btn-danger my-3">취소</button>
                </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        $(frm).on("submit", (e)=>{
            e.preventDefault();
            if(!confirm("수정?")) return;
            //수정
            const title = $(frm.title).val();
            const contents = $(frm.contents).val();
            const bid = "{{bbs.bbs_id}}";
            $.ajax({
                type : "put",
                url : "/bbs",
                data : JSON.stringify({bid, title, contents}),
                success : function(data){
                    if(data=='success'){
                        location.href=`/bbs/${bid}`;
                    }
                }
            })
        })
    </script>
</body>
</html>