<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row text-center m-5">
        <div class="col-3">
            <img src="../static/images/logo.jpg" width="100%" >
            <h1 class="text-center my-5">{{title}}</h1>
        </div>
        <div class="col-3">
            현재기온 : 
        </div>
        <div class="col-3">
            <h1>오늘의 세계뉴스</h1>
        </div>
        <div class="col-3">
            <h1>오늘의 영어한마디</h1>
        </div>
    </div>
</body>

</html>